body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.clearfix {
    clear: both;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.menubar {
    width: 100%;
    height: 50px;
    background: #333;
    box-shadow: 0 0 10px #666; 
}

.menubar .logo {
    float: left;
}

.menubar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    padding: 10px;
    color: #EEE6CF;
}
.menubar ul.menu {
    list-style: none;
    float: right;
}
.menubar ul.menu li {
    float: left;
    margin-right: 20px;
}
.menubar ul.menu li a {
    text-decoration: none;
    color:#EEE6CF;;
    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
    transition: all 0.3s ease;
}
.menubar ul.menu li a:hover {
    border-bottom: 2px solid #789FA1;
    padding-bottom: 0;
}     /*menubar*/
.header
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: #333;
    border: 3px solid #161616;
}
.header p 
{
    font-size: 100px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    color: #ffffff;
}
.typing
{
    position: relative;
    line-height: 50px;
    display: inline-block;
    color: #ffffff;
    min-width: 1px;
    min-height: 24px;
}
.typing:after
{
    content: "";
    position: absolute;
    top: -15%;
    width: 1px;
    height: 150%;
    border-right: 2px solid #ffffff;
    right: -2px;
    animation: blink .5s infinite ease;
}
@keyframes blink
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}/*Header*/
.team_champ
{
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: 1rem;
    padding: 3rem;
}
.team_champ .team
{
    text-align: center;
    border: 3px solid #161616;
}
.team_champ .team p
{
    color: black;
    font-size: 30px;
}
.team_champ .team img
{
    width: 300px;
    height: 350px;
}
.team_champ .team .line_up
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.team_champ .team .line_up a
{
    text-decoration: none;
}/*teaam_champion*/
footer
{
    background-color: #666;
    height: 30px;
    text-align: center;
    padding-top: 1rem;
}/*footer*/
@media only screen and (max-width : 960px)
{
    .team_champ .team .line_up
    {
        grid-template-columns: 1fr 1fr;
    }
    .container
    {
        width: 100%;
    }
    .data .title_header .text
    {
        padding: 10%;
    }
}
@media only screen and (max-width : 700px)
{
    .team_champ .team .line_up
    {
        grid-template-columns: 1fr;
    }
    .container
    {
        width: 100%;
    }
    .data .title_header .text
    {
        padding: 10%;
    }
}/*response*/