@import url('https://fonts.googleapis.com/css?family=Kodchasan:600&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color: #EEE6CF;
    font-family: 'Kodchasan', sans-serif;
}

.clearfix {
    clear: both;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.menubar {
    width: 100%;
    height: 50px;
    background: #333;
    box-shadow: 0 0 10px #666; 
}

.menubar .logo {
    float: left;
}

.menubar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    padding: 10px;
    color: #EEE6CF;
}
.menubar ul.menu {
    list-style: none;
    float: right;
}
.menubar ul.menu li {
    float: left;
    margin-right: 20px;
}
.menubar ul.menu li a {
    text-decoration: none;
    color:#EEE6CF;;
    border-bottom: 2px solid transparent;
    padding-bottom: 20px;
    transition: all 0.3s ease;
}
.menubar ul.menu li a:hover {
    border-bottom: 2px solid #789FA1;
    padding-bottom: 0;
}     /*menubar*/
.data .title_header
{
    background-image: url(https://images.unsplash.com/photo-1455459182396-ae46100617cb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80);
    background-size: cover;
    text-align: center;
    max-height: 550px;
    width: 100%;
    text-align: center;
}
.data .title_header .text
{
    padding: 10% 150px;
    color: #EEE6CF;
    font-style: bold;
    font-size: 20px;
}
.data .title_header .text h1
{
    margin: 0;
}
.data .title_header .text span
{
    padding-top: 10px;
}/*header*/
.title
{
    background-color: tomato;
    text-align: center;
}
.detail
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}
.detail .team
{
    padding-bottom: 10%;
    text-align: center;
    font-size: 30px;
    background-color: bisque;
    border: 5px solid #333;
}
.detail .team img
{
    width: 300px;
    height: 350px;
    padding-top: 5%;
}
.detail .team a
{
    text-decoration: none;
    font-size: 20px;
    color: black;
    background-color: red;
    border: 3px solid #161616;
    padding: 10px;
}/*table Team*/
footer
{
    background-color: #666;
    height: 30px;
    text-align: center;
    padding-top: 1rem;
}/*footer*/
@media only screen and (max-width : 1000px)
{
    .detail
    {
        grid-template-columns: 1fr 1fr;
    }
    .container
    {
        width: 100%;
    }
    .data .title_header .text
    {
        padding: 10%;
    }
    .data .title_header .text
    {
    font-size: 15px;
    }
}
@media only screen and (max-width : 700px)
{
    .detail
    {
        grid-template-columns: 1fr;
    }
    .container
    {
        width: 100%;
    }
    .data .title_header .text
    {
        padding: 10%;
    }
    .data .title_header .text
    {
    font-size: 10px;
    }

}/*response*/