body {
    margin: 0;
    padding: 0;
}

.clear
{
    clear: both;
}
.container {
    width: 960px;
    margin: 0 auto;
}

.menubar {
    width: 100%;
    height: 50px;
    background: #fff;
    box-shadow: 0 0 10px #666; 
}

.menubar .logo {
    float: left;
}

.menubar h1 {
    margin: 0;
    font-size: 24px;
    font-weight: normal;
    padding: 10px;
}
.menubar ul.menu {
    list-style: none;
    float: left;
}
.menubar ul.menu li {
    float: left;
    margin-right: 20px;
}
.menubar ul.menu li a {
    text-decoration: none;
    color: #333;
    border-bottom: 5px solid transparent;
    padding-bottom: 20px;
    border-top: 5px solid transparent;
    padding-top: 20px;
    transition: all 0.3s ease;
}
.menubar ul.menu li a:hover {
    border-bottom: 5px solid #333;
    padding-bottom: 0;
    border-top: 5px solid #333;
    padding-top: 0;
}
/*   ---Menubar---  */
header .container .header_area
{
    margin-top: 0;
    padding-top: 0;
}
/*   ---Header---   */

.info1 .container .info1_area img 
{
    width: 50%;
    height: 250px;
}
.header .container .header_area h1 
{
    margin: 0;
    padding-top: 20px;
}

/*   ---data---   */
footer
{
    text-align: center;
}